.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(
      rgba($color-secondary, 0.93),
      rgba($color-secondary, 0.93)
    ),
    url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 4rem 8rem 8rem 8rem;

  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr; // main row takes up all available space, other items are implicitly placed after it, the minmax(6rem, mincontent) when size gets smaller it prevents overflow
  grid-template-columns: minmax(
    min-content,
    max-content
  ); // grid-column is as wide as largest content with max-content, changed to minmax so the as seen on images with be responsive
  grid-row-gap: 1.5rem;
  justify-content: center; // center grid in center of container

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1; // header takes up whole page, bumps realtors down a row
  }

  @media only screen and (max-width: $bp-small) {
    padding: 5rem;
  }

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  &__btn {
    justify-self: start;
    align-self: flex-start;
  }

  &__seenon-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    grid-column-gap: 1.5rem;
    font-size: 1.6rem;
    color: $color-grey-light-2;

    &::before,
    &::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  &__seenon-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;
    justify-items: center;
    align-items: center;

    img {
      max-height: 2.5rem;
      max-width: 100%; // both h&w set to max  for responsive
      filter: brightness(70%);
    }
  }
}
